@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

.Calendar {
    width: 450px;
    height: 450px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    font-family: Roboto;
    display: grid;
    grid-template-rows: 0.3fr 0.1fr 1fr;
    position: absolute;
    display: none;
}

.Calendar[open] {
    animation: showCalendar .2s ease;
    display: grid;
    transform: scale(1);
    opacity: 1;
}

.Calendar[close] {
    animation: hideCalendar .2s ease;
    display: grid;
    transform: scale(1);
    opacity: 1;
}

.CalendarDays {
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
    /*   border: 2px dotted blue; */
    width: 90%;
    margin: auto;
}

.CalendarDays h3 {
    font-size: 1em;
    font-weight: 400;
    color: #666;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

.CalendarDates {
    width: 90%;
    height: 85%;
    margin: auto;
    display: grid;
    /* gap: 1em; */
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

.calendarDate {
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 1;
    display: grid;
    place-items: center;
    font-size: 1em;
    width: 36px;
    height: 36px;
    transition: .1s linear all;
}

.calendarDate.--today {
    border: 1px solid rgba(40, 40, 40, .7);
}

.calendarDate.--anotherMonth {
    color: rgba(50, 50, 50, .2);
}

.calendarDate.--selected {
    border-radius: none;
    background: #7A5197;
    color: white;
}

.calendarDate.--sub-selected {
    background: rgba(122, 81, 151, .4);
    color: white;
}

.calendarDate:hover {
    background-color: rgba(50, 50, 50, .3);
}

.CalendarMonthYear {
    font-size: 1.3em;
    font-weight: 600;
    border: none;
    padding: 10px;
    /*   border: 2px dotted green; */
    background-color: transparent;
    cursor: pointer;
}

.CalendarMonthYear:hover {
    background-color: rgba(40, 40, 40, 0.3);
}

.CalendarYearMonthController {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.CalendarYearMonthController-buttonContainer {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

.CalendarYearMonthController-button {
    --button-bar-width: 2px;
    --button-bar-height: 30%;
    --button-bar-left: 35%;
    --button-bar-top: 37%;
    
    border-radius: 50%;
    border: none;
    position: relative;
    width: 2.3em;
    height: 2.3em;
    transition: background-color 0.1s ease;
    margin: 0 4px;
    cursor: pointer;
    background-color: transparent;
    /*   background: cyan; */
}

.CalendarYearMonthController-button:hover {
    background-color: rgba(40, 40, 40, 0.3);
}

.CalendarYearMonthController-button.--next::after {
    content: "";
    width: var(--button-bar-height);
    height: var(--button-bar-width);
    border-radius: 4px;
    background-color: #1b1b1b;
    position: absolute;
    left: var(--button-bar-left);
    bottom: var(--button-bar-top);
    transform: rotate(-45deg);
}

.CalendarYearMonthController-button.--next::before {
    content: "";
    width: var(--button-bar-height);
    height: var(--button-bar-width);
    border-radius: 4px;
    background-color: #1b1b1b;
    position: absolute;
    left: var(--button-bar-left);
    top: var(--button-bar-top);
    transform: rotate(45deg);
}

.CalendarYearMonthController-button.--previous::after {
    content: "";
    width: var(--button-bar-height);
    height: var(--button-bar-width);
    border-radius: 4px;
    background-color: #1b1b1b;
    position: absolute;
    right: var(--button-bar-left);
    bottom: var(--button-bar-top);
    transform: rotate(45deg);
}

.CalendarYearMonthController-button.--previous::before {
    content: "";
    width: var(--button-bar-height);
    height: var(--button-bar-width);
    border-radius: 4px;
    background-color: #1b1b1b;
    position: absolute;
    right: var(--button-bar-left);
    top: var(--button-bar-top);
    transform: rotate(-45deg);
}

@keyframes showCalendar {
    from {
        transform: scale(.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes hideCalendar {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(.8);
        opacity: 0;
    }
}
